---
const { data } = Astro.props;
---

<footer
  id="contacto"
  class="bg-stone-900 text-sm md:text-md lg:text-lg poppins text-stone-400 py-12"
>
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="space-y-4">
        <h3 class="text-white font-['Playfair_Display'] text-xl">Contacto</h3>
        <ul class="space-y-2">
          <li class="flex items-center hover:text-dorado gap-2">
            <i aria-hidden="true" class="fas fa-phone text-neonGreen"></i>
            <a
              aria-label={data.redes[0].ariaLabel}
              title={data.redes[0].title}
              href={data.redes[0].link}>{data.redes[0].numero}</a
            >
          </li>
          <li class="flex items-center hover:text-dorado gap-2">
            <i class="fas fa-envelope text-white"></i>
            <a
              class="md:break-all"
              title={`correo de ${data.perfilProfesional.profesion}`}
              href={`mailto:${data.correo}`}>{data.correo}</a
            >
          </li>
          <li class="flex items-center gap-2">
            <i class="fas fa-map-marker-alt text-dorado"></i>
            {`${data.ubicacion.distrito}, ${data.ubicacion.provincia}`}
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="text-white font-['Playfair_Display'] text-xl">Horario</h3>
        <ul class="space-y-2">
          {
            Object.keys(data.horario).map((dia) => (
              <li class=" group flex items-center gap-2 relative">
                <p class=" hidden px-6 leading-1 min-h-25 py-1 group-hover:block z-50 poppins text-black bg-[url('/toltip.svg')] bg-no-repeat rounded-2xl  w-48 h-auto absolute right-0 lg:right-15">
                  <span class="text-xs  ">{data.horario[dia].mensaje}</span>
                </p>
                <i aria-hidden="true" class="fas fa-clock text-dorado " />
                {`${dia}: ${data.horario[dia].entrada} - ${data.horario[dia].salida}`}
              </li>
            ))
          }
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="text-white font-['Playfair_Display'] text-xl">
          Certificaciones
        </h3>
        <ul class="space-y-2">
          {
            data.perfilProfesional.certificaciones.map((item) => (
              <li class="flex items-center gap-2">
                <i
                  aria-hidden="true"
                  class="fas fa-certificate text-sm text-dorado"
                />
                {`${item.nombre}`}
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="border-t border-stone-700 mt-12 pt-8 text-center">
      <div class="flex justify-center text-2xl gap-4 mb-4">
        {
          data.redes.map((item) => (
            <a
              href={item.link}
              title={item.title}
              aria-label={item.ariaLabel}
              class="hover:text-warm-yellow"
            >
              <i aria-hidden="true" class={`${item.icon}`} />
            </a>
          ))
        }
      </div>
      <p class="">
        &copy; 2024 Jardinería Miguel - Servicios profesionales en Lima
        Metropolitana
      </p>
      <p class="">
        <a
          href="#"
          title="Desarrollo web y diseño digital por Studio Aeurola"
          aria-label="Desarrollado por Studio Aeurola, expertos en diseño y desarrollo web"
          class="text-neonCyan hover:text-emerald-500"
        >
          Studio Aeurola</a
        > | Desarrollo web y diseño digital
      </p>
    </div>
  </div>
</footer>
