---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ServicesSection from "../components/sections/ServicesSection.astro";
import { Servicios } from "../data/Servicios";
import { Jardinero } from "../data/Jardinero";
import { Trabajos } from "../data/trabajos";
import GallerySection from "../components/sections/GallerySection.astro";
import ItemWhatsapp from "../components/dynamic/ItemWhatsapp.astro";
import AreasSection from "../components/sections/AreasSection.astro";
---

<Layout>
  <main class="">
    <HeroSection data={Jardinero} />
    <GallerySection data={Trabajos} />
    <ServicesSection data={Servicios} />
    <AreasSection data={Jardinero} />
    <ItemWhatsapp data={Jardinero} />
  </main>
</Layout>
